@import url("https://fonts.googleapis.com/css2?family=Signika+Negative:wght@400;600;700&display=swap");

:root {
  --myBlue: #9ac1ed;
  --myBlack: #1f1f1f;
  --myWhite: #fdfeff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Signika Negative", sans-serif;
  font-weight: lighter;
}

body {
  background-color: var(--myBlack);
  color: var(--myWhite);
}

/* ------------------------GLOBAL---------------------- */

button {
  outline: none;
  background: transparent;
  border: none;
}

/* ------------NAVBAR------------ */

.navbar {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 4%;
  align-items: center;
}

.nav-links {
  list-style: none;
  padding: 0 5%;
  height: 0;
  overflow: hidden;
  position: absolute;
  top: 100%;
  left: 0%;
  transition: 0.3s ease;
}

.show-links {
  height: 9em;
}

.link {
  padding: 5% 0;
}

.bar-icon{
  color: var(--myWhite);
}

