@import url("https://fonts.googleapis.com/css2?family=Signika+Negative:wght@400;600;700&display=swap");

:root {
  --myBlue: #9ac1ed;
  --myBlack: #1b1c1e;
  --myWhite: #fdfeff;
  --myGrey: #202020dc;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Signika Negative", sans-serif;
  font-weight: lighter;
}

body {
  background-color: var(--myBlack);
  color: var(--myWhite);
}

/* ------------------------GLOBAL---------------------- */

button {
  outline: none;
  background: transparent;
  border: none;
}

a {
  text-decoration: none;
  color: var(--myWhite);
}

/* ------------NAVBAR------------ */

.navbar {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 4%;
  align-items: center;
}

.nav-links {
  width: 95vw;
  list-style: none;
  padding: 0 5%;
  height: 0;
  overflow: hidden;
  position: absolute;
  top: 100%;
  left: 0%;
  transition: 0.3s ease;
  background-color: var(--myBlack);
}

.show-links {
  height: 15em;
}

.link {
  padding: 2% 0;
}

.bar-icon {
  color: var(--myWhite);
}

input[type=text]{
  outline: none;
  border: none;
  font-size: 1rem;
  padding: 1%;
  border-radius: 2px;
}

/* ------------------------CARD----------------- */

.card-container {
  margin: 5%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 100px));
  padding: 10%;
  justify-content: center;
  gap: 1.2%;
}

.card-body > img,
h4,
p {
  padding: 1em 0;
}

.card-body {
  background-color: white;
  color: black;
  padding: 0 3.5%;
  border-radius: 5px;
  box-shadow: 0 8px 16px 0 rgba(85, 85, 85, 0.2);
}

.card-title {
  font-size: 1.2rem;
}

.card-desc {
  color: var(--myGrey);
}

.card-image {
  max-width: 100%;
  max-height: 100%;
}

.read-more-link {
  color: #0000ee;
}

.card-info-container {
  display: flex;
  justify-content: space-between;
  color: var(--myGrey);
}

/* ------------------LOADING--------------------- */
.loading {
  display: flex;
  justify-content: center;
}

/* -----------FOOTER--------------------- */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
